body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#gameArea {
  width: 400px;
  height: 600px;
  background: black;
  background-size: cover;
  position: relative;
  overflow: hidden;
background-image: url("assets/background_2.png");
  background-size: cover;
  background-position: center;
}

#sprite {
  width: 40px;
  height: 40px;
  background: yellow;
  position: absolute;
  left: 80px;
  top: 200px;
  background-image: url("");
  background-position: 16px 0px;
}

#obstacle {
    width: 60px;
    height: 200px;
    background-color: green;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("world_tileset.png");
    background-position: 16px 45px;

}
#obstacleTop,
#obstacleBot {
  position: absolute;
  width: 40px;
  background-color: green;
  left: 800px;
   background-image: url("bottompipe.png");
background-position: 16px 15px;
}

#obstacleTop {
  top: 0;
  height: 120px;
}

#obstacleBot {
  top: 270px;
  height: 230px;
}

 #startBtn {
  padding: 12px 24px;

  border: none;
  border-radius: 10px;

  font-size: 20px;

  cursor: pointer;
}
